.page {
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;
    top: 0;
    left:  0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.uitext {
    color: #FFFFFF;
    font-family: arial;
    text-align: center;
}

.textEntry {
    width: 50%;
    font-size: 30px;
    font-family: arial;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: #FFFFFF;
    outline: none;
    text-align: left;
}

.typeField {
    text-align: center;
}

.generatedText {
    color: #FFFFFF;
    font-family: arial;
    text-align: left;
    margin-left: 25%;
    margin-right: 10%;
}
