<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<html>
<head>
    <title>TypingManiac</title>
</head>
<body>
    <h1 class="uitext">Welcome to TypingManiac!</h1>
    <p class="uitext">Not signed in</p>
    <h2 class="generatedText" id="randomWords">Please type the following statement</h2>
    <h2 class="timer" id="countdown">Time: </h2>
    <h1 class="uitext" id="score">Should not see this!!</h1>
    <div class="content">
    <div class="typeField">
        <input type="text" placeholder="begin typing here..." name="newusername"
        class="textEntry" autofocus id="typeBox" autocomplete="off"
        autocorrect="off" autocapitalize="off" spellcheck="false">
    </div>
    <script type="text/javascript" src="1000-words.js"></script>
    <script type="text/javascript" src="TypingTest.js"></script>
    <script>
    let ct = new TypingTest(20); // Make a new test with time 20
    configurePage(ct); // Run setup function
    </script>
</body>
</div>
</html>
