<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<html>
<head>
    <title>Hello world</title>
</head>
<body>
    <h1 class="uitext">Welcome to TypingManiac!</h1>
    <p class="uitext">Please make an account to begin</p>
    <h2 class="generatedText" id="randomWords">Please type the following statement</h2>
    <div class="content">
    <div class="typeField">
        <input type="text" placeholder="begin typing here..." name="newusername"
        class="textEntry" autofocus id="typeBox" autocomplete="off"
        autocorrect="off" autocapitalize="off" spellcheck="false">
    </div>
    <script type="text/javascript" src="1000-words.js"></script>
    <script>
    // Configures initial page
    function configurePage() {
        // Select random words to use from wordbank
        let randomCount = 200; // Pick 200 words in pool
        let shownCount = 8;
        let chosenWords = [];
        let currentWords = []; // Current words only contains next 20 words in bank
        for (let i = 0; i < randomCount; i++) {
            chosenWords.push(wordbank[Math.floor(Math.random() * wordbank.length)]);
        }
        for (let i = 0; i < shownCount; i++) {
            if (chosenWords.length == 0) {
                break; // Don't try adding words when currentWords is empty
            }
            currentWords.push(chosenWords.shift()); // Grab 20 words from chosenWords
        }
        document.getElementById("randomWords").innerHTML = currentWords.join(" ");
        document.getElementById("typeBox").addEventListener("keyup", (event) => {
            event.preventDefault();
            let checkSpace = false;
            if (event.keyCode == 32) {
                let value = document.getElementById("typeBox").value;
                //console.log("inputted word is " + value);
                let words = getWords(value);
                console.log("Words: " + words);
                checkSpace = analyzeWords(words, currentWords, chosenWords);
            }
            if (!checkSpace) {
                console.log("Key was pressed!");
                let word = document.getElementById("typeBox").value;
                analyzeSubstrings(word, currentWords[0]);
            }
        });
    }
    function getWords(value) {
        return value.split(' ').filter((elem) => elem != '');
    }
    // [NEEDS DOC]
    // Returns true when all words are satisfied. False when a word does not match.
    // Will clean out words array and write new words to currentWords when done.
    function analyzeWords(words, currentWords, chosenWords) {
        let phraseLength = words.length;
        // In a perfect world we just compare the first word
        for (let i = 0; i < phraseLength; i++) {
            if (i >= currentWords.length) {
                break;
            }
            if (words[0] === currentWords[0]) {
                document.getElementById("typeBox").style.color = "#FFFFFF";
                currentWords.shift(); // Remove head of current words
                currentWords.push(chosenWords.shift()); // Add next word to chosenWords
                words.shift(); // Remove word at front
                document.getElementById("typeBox").value = words.join(" ");
                document.getElementById("randomWords").innerHTML = currentWords.join(" ");
                document.getElementById("typeBox").placeholder = "";
            }
        }
        if (phraseLength > words.length) return true;
        return false;
    }
    function analyzeSubstrings(word, currentWord) {
        for (let i = 0; i < word.length; i++) {
            if (i < currentWord.length) {
                if (word[i] !== currentWord[i]) {
                    document.getElementById("typeBox").style.color = "#FF0000";
                    break;
                } else {
                    document.getElementById("typeBox").style.color = "#FFFFFF";
                }
            }
        }
    }
    configurePage();
    </script>
</body>
</div>
</html>
