<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="home.css">
<script type="text/javascript" src="Scripts.js"></script>
<html>
    <head>
        <title>Stats</title>
    </head>
    <body class="page">
        <div class="graphpage">
            <h1 class="uitext">Your Stats</h1>
            <div class="buttonfield">
                <form id="logcharts" action="/" method="get">
                    <button type="submit" class="uibutton"
                    style="vertical-align:middle" id='controlbutton'><span id="buttonlabel">Home</span>
                    </button>
                </form>
            </div>
            <div class="chartboxcollection">
                <div class="chartbox">
                    <h2 id="wpmChart"></h2>
                    <div class="chartbuttoncollection">
                        <button type="button" class="chartbutton" id="wpmA">All Time</button>
                        <button type="button" class="chartbutton" id="wpmD">Daily</button>
                    </div>
                </div>
            </div>
            <div class="chartboxcollection">
                <div class="chartbox">
                    <h3 id="accChart"></h3>
                    <div class="chartbuttoncollection">
                        <button type="button" class="chartbutton" id="accA">All Time</button>
                        <button type="button" class="chartbutton" id="accD">Daily</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="Stats.js"></script>
<script>
    let user = gitHubLogin();
    if (user == null) {
      user = 'SampleUser';
      console.log('NOT LOGGED IN!!!');
    } else {
      user.then((username) => {
        user = username;
        console.log(user);
        let userStats = new Stats(user);
        document.getElementById('wpmA').addEventListener('click', () => {
          userStats.setChart(userStats.wpmAll, 'wpm');
        });
        document.getElementById('wpmD').addEventListener('click', () => {
          userStats.setChart(userStats.wpmDaily, 'wpm');
        });
        document.getElementById('accA').addEventListener('click', () => {
          userStats.setChart(userStats.accAll, 'acc');
        });
        document.getElementById('accD').addEventListener('click', () => {
          userStats.setChart(userStats.accDaily, 'acc');
        });
      });
    }
    
</script>
