<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
    <html>
        <head>
            <title>Stats</title>
        </head>
        <body>
            <h1 class="uitext">Your Stats</h1>
            <h2 id="chartHeader"></h2>
        </body>
    </html>
</div>
<script>
    async function getUserData(user) {
        var requestOptions = {
            method: 'GET',
            redirect: 'follow',
            mode: 'cors'
        };
        return new Promise((resolve, reject) => {
            fetch("https://4wiarmu0k6.execute-api.us-east-1.amazonaws.com/dev/?user=" + user, requestOptions)
            .then(response => response.text())
            .then(result => resolve(JSON.parse(result)))
            .catch(error => console.log('error', error));
        });
    }

    async function getChart() {

        const TESTUSER = "Sans";
        let userData = await getUserData(TESTUSER);

        let plays = userData.Items;
        let i = 0
        let wpm = []
        
        while(i < plays.length) {
            console.log(JSON.stringify(plays[i]))
            wpm.push(plays[i].WPM);
            i++;
        }

        const chartOptions = {
            type: 'line',
            data: {
                datasets: [
                {
                    label: 'Your WPM',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: wpm,
                    fill: false,
                },
                ],
            },
            options: {
                title: {
                display: true,
                },
                scales: {
                xAxes: [
                    {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time',
                    },
                    },
                ],
                yAxes: [
                    {
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Words Per Minute',
                    },
                    }
                ]
                },
            }
        }

        let requestOptions = {
            method: 'GET',
            redirect: 'follow',
            mode: 'cors'
        };

        fetch('https://quickchart.io/chart?c=' + JSON.stringify(chartOptions), requestOptions)
        .then()
        .then(result => {
            let img = document.createElement('img');
            img.src = result.url;
            img.width = 500;
            document.getElementById('chartHeader').append(img);
            
            img = document.createElement('img');
            img.src = result.url;
            img.width = 500;
            document.getElementById('chartHeader').append(img);

            img = document.createElement('img');
            img.src = result.url;
            img.width = 500;
            document.getElementById('chartHeader').append(img);
        })
        .catch(error => console.log('error', error));
    }

    getChart();
</script>